
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 85px;
    padding: 2rem;
    margin: 5vw;
    /* creates space on all sides */
    min-height: calc(100vh - 12vw);
    /* leaves a bit of space at the bottom */
    box-sizing: border-box;
    backdrop-filter: blur(4px);
}

/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 4vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*  Customising Headings2 */ 
h2 {
    text-align: center;
    font-family: 'Great Vibes';
}

/*  Customising normal text*/
p {color: white;
font-size:2vw;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* Making Links to resume & Blog post side next to each other rather than vertically*/
nav ul {
    list-style: none;   /* no bullet points */
    padding: 0; 
    margin: 0; /* no default margin */
    text-align: center;  /* centers the list horizontally */
}

nav ul li {
    display: inline-block;   /* list items appear side by side */
    margin: 0 15px; 
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 2vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}