
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

html,
body {
    height: 95%;
    margin: 2.5 vh;
    padding: 0;
}

.page-wrapper {
    height: 90vh;
        width: 90vw;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
        padding: 20px;
        /* centers wrapper vertically and horizontally */
        backdrop-filter: blur(4px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        /* optional: makes it stand out */ 
    
        display: flex;
            flex-direction: column;
            justify-content: center;
            /* vertical */
            align-items: center;
            /* horizontal */
            text-align: center;
    
    }



/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 4vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*  Customising Headings2 */ 
h2 {
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 2.5vw;
}

/*  Customising normal text*/
p {color: white;
font-size:1.5vw;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* Making Links to resume & Blog post side next to each other rather than vertically*/
nav ul {
    list-style: none;   /* no bullet points */
    padding: 0; 
    margin: 0; /* no default margin */
    text-align: center;  /* centers the list horizontally */
}

nav ul li {
    display: inline-block;   /* list items appear side by side */
    margin: 0 15px; 
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}