
.page-wrapper {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 85px;
    padding: 20px; /* space inside the container */
    margin: 2%; /* outer spacing, matches your design */
    backdrop-filter: blur(4px); /*subtle background blur */
}


/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 5vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*  Customising Headings2 */ 
h2 {
    text-align: center;
    font-family: 'Great Vibes';
}

/*  Customising Backgroun pic + Margins*/
body {
    background-image:url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*  Customising normal text*/
p {color: white;
font-size:2vw;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* Making Links to resume & Blog post side next to each other rather than vertically*/
nav ul {
    list-style: none;   /* no bullet points */
    padding: 0; 
    margin: 0; /* no default margin */
    text-align: center;  /* centers the list horizontally */
}

nav ul li {
    display: inline-block;   /* list items appear side by side */
    margin: 0 15px; 
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 2vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}