
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

.page-wrapper2 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 85px;
    padding: 2rem;
    margin: 5vw;
    /* creates space on all sides */
    min-height: calc(100vh - 12vw);
    /* leaves a bit of space at the bottom */
    box-sizing: border-box;
    backdrop-filter: blur(4px);
}

/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/*  Customising Headings2 */
h2 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Customising normal text*/
p {
    color: black;
    font-size: 2vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 2vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Centering Bullet points -alongside text*/
ul {
    display: inline-block;
    /* allows the list to be centered as a block */
    text-align: left;
    /* keeps bullets and text aligned properly */
    margin: auto;
    /* centers the whole <ul> */
}

/* Making lists have the same as paragraphs */
li {
        color: black; 
        font-size: 2vw;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
