body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

html,
body {
    min-height: 95%;
    margin: 0;
    padding: 0;
}

.page-wrapper2 {
    min-height: 90vh;
    width: 90vw;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 20px;
    margin: 5vh auto;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 4vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*  Customising Headings2 */
h2 {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Customising normal text*/
p {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Centering Bullet points -alongside text*/
ul {
    display: inline-block;
    /* allows the list to be centered as a block */
    text-align: left;
    /* keeps bullets and text aligned properly */
    margin: auto;
    /* centers the whole <ul> */
}

/* Making lists have the same as paragraphs */
li {
    color: black;
        font-size: 1.5vw;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Mobile responsiveness */
@media (max-width: 600px) {
    body {
        display: block;
        margin: 5vh 4vw;
    }

    .page-wrapper2 {
        width: 100%;
        height: auto;
        padding: 8vh 5vw;
        border-radius: 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: clamp(1.8rem, 3vw, 2.5rem);
    }

    h2 {
        font-size: clamp(1.4rem, 2.8vw, 2rem);
    }

    ul,li,p {
        font-size: clamp(1rem, 1vw, 1.3rem);
    }

    a {
        font-size: clamp(1rem, 1vw, 1.3rem);
    }

}