body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BlueSky.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

html,
body {
    height: 95%;
    margin: 2.5vh;
    padding: 0;
}

.page-wrapper2 {
    height: 90vh;
    /* Responsive height: 90% of the viewport */
    width: 90vw;
    /* Responsive width: 90% of the viewport */
    overflow-y: auto;
    /* Enables vertical scrolling inside the wrapper */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 20px;
    margin: 5vh auto;
    /* centers wrapper vertically and horizontally */
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* optional: makes it stand out */
}

/* Customised Heading 1 */
h1 {
    color: Off darkgrey;
    font-size: 4vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*  Customising Headings2 */
h2 {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Customising normal text*/
p {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Making links have the same formatting as paragraphs*/
a {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  Centering Bullet points -alongside text*/
ul {
    display: inline-block;
    /* allows the list to be centered as a block */
    text-align: left;
    /* keeps bullets and text aligned properly */
    margin: auto;
    /* centers the whole <ul> */
}

/* Making lists have the same as paragraphs */
li {
    color: black;
        font-size: 1.5vw;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
